@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


:root {
    /* CORES */ 
    --cor-de-fundo: #181818;
    --azul-claro: #3EA6FF;
    --cor-dos-cards: #1F1F1F; /*Esse é um preto um pouco mais claro*/
    --quase-branco: #F2F2F2;
    --roxo: #9D4EDD;
    /* Esse amarelo é quase laranja. */
    --amarelo-escuro: #EAB308;
    /* Esse é amarelo mesmo. */
    --amarelo-claro: #FFD700;
    --vermelho-tomate: #E63946;
    --branco: #FFFFFF;
    --cinza: #888888;
    --azul-escuro: #0056B3;
    --verde-escuro: #16AB2D;
    --rosa: #F21F54;
    --vermelho-claro: #FF0000;
    --vermelho-escuro: #E70E1F;

    /* Cores claras para os cards de aviso */
    --verde-mensagem: #9ADDA5;
    --azul-mensagem: #C4E4FF;
    --azul-escuro-mensagem: #2E3547;
    --vermelho-claro-mensagem: #FFBBBB;
    --amarelo-mensagem: #F0D88B;

    /* Cores traçado */
    --tracado-vermelho: #EF4444;

    /* FONTES */
    --inter: "Inter", sans-serif;
    --bungee: "Bungee", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--inter);
}
